<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
		<meta name="viewport" content="width=device-width, initial-scale=1"> 
		<title>IPAQ短问卷</title>
		<link rel="stylesheet" type="text/css" href="css/normalize.css" />
		<link rel="stylesheet" type="text/css" href="css/demo.css" />
		<link rel="stylesheet" type="text/css" href="css/component.css" />
		<!--<link rel="stylesheet" type="text/css" href="css/cs-select.css" />-->
		<!--<link rel="stylesheet" type="text/css" href="css/cs-skin-boxes.css" />-->

		<!-- css 文件 -->
		<link rel="stylesheet" href="http://cdn.static.runoob.com/libs/foundation/5.5.3/css/foundation.min.css";>

		<!-- jQuery 库 -->
		<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js";></script>

		<!-- JavaScript 文件 -->
		<script src="http://cdn.static.runoob.com/libs/foundation/5.5.3/js/foundation.min.js";></script>

		<!-- modernizr.js 文件 -->
		<script src="http://cdn.static.runoob.com/libs/foundation/5.5.3/js/vendor/modernizr.js";></script>

		<script src="js/modernizr.custom.js"></script>
	</head>
	<body>
		<div class="container">

			<div class="fs-form-wrap" id="fs-form-wrap">
				<div class="fs-title">
					<h1>IPAQ短问卷</h1>
				</div>
				<form id="myform" class="fs-form fs-form-full" autocomplete="off" method="post" action="/upload_post1">
					<ol class="fs-fields">
						<li>
							<label class="fs-field-label fs-anim-upper" for="q1">Q1:最近7天内，您有几天做了剧烈的体育活动，像是提重物、挖掘、有氧运动或是快速骑车？</label>
							<select class="fs-anim-lower" id="q1" name="q1" required>
								<option>0天</option>
								<option>1天</option>
								<option>2天</option>
								<option>3天</option>
								<option>4天</option>
								<option>5天</option>
								<option>6天</option>
								<option>7天</option>
							</select>
						</li>

						<li>
							<label class="fs-field-label fs-anim-upper">Q2:在这其中一天您通常会花多少时间在剧烈的体育活动上</label><br>
							<label class="fs-field-label fs-anim-upper" for="q2_1">小时</label>
							<select class="fs-anim-lower" id="q2_1" name="q2_1" required>
								<option>0小时</option>
								<option>1小时</option>
								<option>2小时</option>
								<option>3小时</option>
								<option>4小时</option>
								<option>5小时</option>
								<option>6小时</option>
								<option>7小时</option>
								<option>8小时</option>
								<option>9小时</option>
								<option>10小时</option>
								<option>11小时</option>
								<option>12小时</option>
								<option>13小时</option>
								<option>14小时</option>
								<option>15小时</option>
								<option>16小时</option>
								<option>17小时</option>
								<option>18小时</option>
								<option>19小时</option>
								<option>20小时</option>
								<option>21小时</option>
								<option>22小时</option>
								<option>23小时</option>
							</select>
							<label class="fs-field-label fs-anim-upper" for="q2_2">分钟</label>
							<select class="fs-anim-lower" id="q2_2" name="q2_2" required>
								<option>0分钟</option>
								<option>1分钟</option>
								<option>2分钟</option>
								<option>3分钟</option>
								<option>4分钟</option>
								<option>5分钟</option>
								<option>6分钟</option>
								<option>7分钟</option>
								<option>8分钟</option>
								<option>9分钟</option>
								<option>10分钟</option>
								<option>11分钟</option>
								<option>12分钟</option>
								<option>13分钟</option>
								<option>14分钟</option>
								<option>15分钟</option>
								<option>16分钟</option>
								<option>17分钟</option>
								<option>18分钟</option>
								<option>19分钟</option>
								<option>20分钟</option>
								<option>21分钟</option>
								<option>22分钟</option>
								<option>23分钟</option>
								<option>24分钟</option>
								<option>25分钟</option>
								<option>26分钟</option>
								<option>27分钟</option>
								<option>28分钟</option>
								<option>29分钟</option>
								<option>30分钟</option>
								<option>31分钟</option>
								<option>32分钟</option>
								<option>33分钟</option>
								<option>34分钟</option>
								<option>35分钟</option>
								<option>36分钟</option>
								<option>37分钟</option>
								<option>38分钟</option>
								<option>39分钟</option>
								<option>40分钟</option>
								<option>41分钟</option>
								<option>42分钟</option>
								<option>43分钟</option>
								<option>44分钟</option>
								<option>45分钟</option>
								<option>46分钟</option>
								<option>47分钟</option>
								<option>48分钟</option>
								<option>49分钟</option>
								<option>50分钟</option>
								<option>51分钟</option>
								<option>52分钟</option>
								<option>53分钟</option>
								<option>54分钟</option>
								<option>55分钟</option>
								<option>56分钟</option>
								<option>57分钟</option>
								<option>58分钟</option>
								<option>59分钟</option>
							</select>
						</li>

						<li>
							<label class="fs-field-label fs-anim-upper" for="q3">Q3:最近7天内，您有几天做了适度的体育活动，像是提轻的物品、以平常的速度骑车或打双人网球？请不要包括走路。</label>
							<select class="fs-anim-lower" id="q3" name="q3" required>
								<option>0天</option>
								<option>1天</option>
								<option>2天</option>
								<option>3天</option>
								<option>4天</option>
								<option>5天</option>
								<option>6天</option>
								<option>7天</option>
							</select>
						</li>

						<li>
							<label class="fs-field-label fs-anim-upper">Q4:在这其中一天您通常会花多少时间在适度的体育活动上？</label><br>
							<label class="fs-field-label fs-anim-upper" for="q4_1">小时</label>
							<select class="fs-anim-lower" id="q4_1" name="q4_1" required>
								<option>0小时</option>
								<option>1小时</option>
								<option>2小时</option>
								<option>3小时</option>
								<option>4小时</option>
								<option>5小时</option>
								<option>6小时</option>
								<option>7小时</option>
								<option>8小时</option>
								<option>9小时</option>
								<option>10小时</option>
								<option>11小时</option>
								<option>12小时</option>
								<option>13小时</option>
								<option>14小时</option>
								<option>15小时</option>
								<option>16小时</option>
								<option>17小时</option>
								<option>18小时</option>
								<option>19小时</option>
								<option>20小时</option>
								<option>21小时</option>
								<option>22小时</option>
								<option>23小时</option>
							</select>
							<label class="fs-field-label fs-anim-upper" for="q4_2">分钟</label>
							<select class="fs-anim-lower" id="q4_2" name="q4_2" required>
								<option>0分钟</option>
								<option>1分钟</option>
								<option>2分钟</option>
								<option>3分钟</option>
								<option>4分钟</option>
								<option>5分钟</option>
								<option>6分钟</option>
								<option>7分钟</option>
								<option>8分钟</option>
								<option>9分钟</option>
								<option>10分钟</option>
								<option>11分钟</option>
								<option>12分钟</option>
								<option>13分钟</option>
								<option>14分钟</option>
								<option>15分钟</option>
								<option>16分钟</option>
								<option>17分钟</option>
								<option>18分钟</option>
								<option>19分钟</option>
								<option>20分钟</option>
								<option>21分钟</option>
								<option>22分钟</option>
								<option>23分钟</option>
								<option>24分钟</option>
								<option>25分钟</option>
								<option>26分钟</option>
								<option>27分钟</option>
								<option>28分钟</option>
								<option>29分钟</option>
								<option>30分钟</option>
								<option>31分钟</option>
								<option>32分钟</option>
								<option>33分钟</option>
								<option>34分钟</option>
								<option>35分钟</option>
								<option>36分钟</option>
								<option>37分钟</option>
								<option>38分钟</option>
								<option>39分钟</option>
								<option>40分钟</option>
								<option>41分钟</option>
								<option>42分钟</option>
								<option>43分钟</option>
								<option>44分钟</option>
								<option>45分钟</option>
								<option>46分钟</option>
								<option>47分钟</option>
								<option>48分钟</option>
								<option>49分钟</option>
								<option>50分钟</option>
								<option>51分钟</option>
								<option>52分钟</option>
								<option>53分钟</option>
								<option>54分钟</option>
								<option>55分钟</option>
								<option>56分钟</option>
								<option>57分钟</option>
								<option>58分钟</option>
								<option>59分钟</option>
							</select>
						</li>

						<li>
							<label class="fs-field-label fs-anim-upper" for="q5">Q5:最近7天内，您有几天是步行，且一次步行至少10分钟？</label>
							<select class="fs-anim-lower" id="q5" name="q5" required>
								<option>0天</option>
								<option>1天</option>
								<option>2天</option>
								<option>3天</option>
								<option>4天</option>
								<option>5天</option>
								<option>6天</option>
								<option>7天</option>
							</select>
						</li>

						<li>
							<label class="fs-field-label fs-anim-upper">Q6:在这其中一天您通常花多少时间在步行上？</label><br>
							<label class="fs-field-label fs-anim-upper" for="q6_1">小时</label>
							<select class="fs-anim-lower" id="q6_1" name="q6_1" required>
								<option>0小时</option>
								<option>1小时</option>
								<option>2小时</option>
								<option>3小时</option>
								<option>4小时</option>
								<option>5小时</option>
								<option>6小时</option>
								<option>7小时</option>
								<option>8小时</option>
								<option>9小时</option>
								<option>10小时</option>
								<option>11小时</option>
								<option>12小时</option>
								<option>13小时</option>
								<option>14小时</option>
								<option>15小时</option>
								<option>16小时</option>
								<option>17小时</option>
								<option>18小时</option>
								<option>19小时</option>
								<option>20小时</option>
								<option>21小时</option>
								<option>22小时</option>
								<option>23小时</option>
							</select>
							<label class="fs-field-label fs-anim-upper" for="q6_2">分钟</label>
							<select class="fs-anim-lower" id="q6_2" name="q6_2" required>
								<option>0分钟</option>
								<option>1分钟</option>
								<option>2分钟</option>
								<option>3分钟</option>
								<option>4分钟</option>
								<option>5分钟</option>
								<option>6分钟</option>
								<option>7分钟</option>
								<option>8分钟</option>
								<option>9分钟</option>
								<option>10分钟</option>
								<option>11分钟</option>
								<option>12分钟</option>
								<option>13分钟</option>
								<option>14分钟</option>
								<option>15分钟</option>
								<option>16分钟</option>
								<option>17分钟</option>
								<option>18分钟</option>
								<option>19分钟</option>
								<option>20分钟</option>
								<option>21分钟</option>
								<option>22分钟</option>
								<option>23分钟</option>
								<option>24分钟</option>
								<option>25分钟</option>
								<option>26分钟</option>
								<option>27分钟</option>
								<option>28分钟</option>
								<option>29分钟</option>
								<option>30分钟</option>
								<option>31分钟</option>
								<option>32分钟</option>
								<option>33分钟</option>
								<option>34分钟</option>
								<option>35分钟</option>
								<option>36分钟</option>
								<option>37分钟</option>
								<option>38分钟</option>
								<option>39分钟</option>
								<option>40分钟</option>
								<option>41分钟</option>
								<option>42分钟</option>
								<option>43分钟</option>
								<option>44分钟</option>
								<option>45分钟</option>
								<option>46分钟</option>
								<option>47分钟</option>
								<option>48分钟</option>
								<option>49分钟</option>
								<option>50分钟</option>
								<option>51分钟</option>
								<option>52分钟</option>
								<option>53分钟</option>
								<option>54分钟</option>
								<option>55分钟</option>
								<option>56分钟</option>
								<option>57分钟</option>
								<option>58分钟</option>
								<option>59分钟</option>
							</select>
						</li>

						<li>
							<label class="fs-field-label fs-anim-upper">Q7:最近七天内，工作日您有多久时间是坐着的？</label><br>
							<label class="fs-field-label fs-anim-upper" for="q7_1">小时</label>
							<select class="fs-anim-lower" id="q7_1" name="q7_1" required>
								<option>0小时</option>
								<option>1小时</option>
								<option>2小时</option>
								<option>3小时</option>
								<option>4小时</option>
								<option>5小时</option>
								<option>6小时</option>
								<option>7小时</option>
								<option>8小时</option>
								<option>9小时</option>
								<option>10小时</option>
								<option>11小时</option>
								<option>12小时</option>
								<option>13小时</option>
								<option>14小时</option>
								<option>15小时</option>
								<option>16小时</option>
								<option>17小时</option>
								<option>18小时</option>
								<option>19小时</option>
								<option>20小时</option>
								<option>21小时</option>
								<option>22小时</option>
								<option>23小时</option>
							</select>
							<label class="fs-field-label fs-anim-upper" for="q7_2">分钟</label>
							<select class="fs-anim-lower" id="q7_2" name="q7_2" required>
								<option>0分钟</option>
								<option>1分钟</option>
								<option>2分钟</option>
								<option>3分钟</option>
								<option>4分钟</option>
								<option>5分钟</option>
								<option>6分钟</option>
								<option>7分钟</option>
								<option>8分钟</option>
								<option>9分钟</option>
								<option>10分钟</option>
								<option>11分钟</option>
								<option>12分钟</option>
								<option>13分钟</option>
								<option>14分钟</option>
								<option>15分钟</option>
								<option>16分钟</option>
								<option>17分钟</option>
								<option>18分钟</option>
								<option>19分钟</option>
								<option>20分钟</option>
								<option>21分钟</option>
								<option>22分钟</option>
								<option>23分钟</option>
								<option>24分钟</option>
								<option>25分钟</option>
								<option>26分钟</option>
								<option>27分钟</option>
								<option>28分钟</option>
								<option>29分钟</option>
								<option>30分钟</option>
								<option>31分钟</option>
								<option>32分钟</option>
								<option>33分钟</option>
								<option>34分钟</option>
								<option>35分钟</option>
								<option>36分钟</option>
								<option>37分钟</option>
								<option>38分钟</option>
								<option>39分钟</option>
								<option>40分钟</option>
								<option>41分钟</option>
								<option>42分钟</option>
								<option>43分钟</option>
								<option>44分钟</option>
								<option>45分钟</option>
								<option>46分钟</option>
								<option>47分钟</option>
								<option>48分钟</option>
								<option>49分钟</option>
								<option>50分钟</option>
								<option>51分钟</option>
								<option>52分钟</option>
								<option>53分钟</option>
								<option>54分钟</option>
								<option>55分钟</option>
								<option>56分钟</option>
								<option>57分钟</option>
								<option>58分钟</option>
								<option>59分钟</option>
							</select>
						</li>

						<li>
							<label class="fs-field-label fs-anim-upper" for="q8">Q8:请选择你的性别</label>
							<select class="fs-anim-lower" id="q8" name="q8" required>
								<option>男</option>
								<option>女</option>
							</select>
						</li>

						<li>
							<label class="fs-field-label fs-anim-upper" for="q9">Q9:请选择你的体重</label>
							<select class="fs-anim-lower" id="q9" name="q9" required>
								<option><40kg</option>
								<option>41kg</option>
								<option>42kg</option>
								<option>43kg</option>
								<option>44kg</option>
								<option>45kg</option>
								<option>46kg</option>
								<option>47kg</option>
								<option>48kg</option>
								<option>49kg</option>
								<option>50kg</option>
								<option>51kg</option>
								<option>52kg</option>
								<option>53kg</option>
								<option>54kg</option>
								<option>55kg</option>
								<option>56kg</option>
								<option>57kg</option>
								<option>58kg</option>
								<option>59kg</option>
								<option>60kg</option>
								<option>61kg</option>
								<option>62kg</option>
								<option>63kg</option>
								<option>64kg</option>
								<option>65kg</option>
								<option>66kg</option>
								<option>67kg</option>
								<option>68kg</option>
								<option>69kg</option>
								<option>70kg</option>
								<option>71kg</option>
								<option>72kg</option>
								<option>73kg</option>
								<option>74kg</option>
								<option>75kg</option>
								<option>76kg</option>
								<option>77kg</option>
								<option>78kg</option>
								<option>79kg</option>
								<option>80kg</option>
								<option>81kg</option>
								<option>82kg</option>
								<option>83kg</option>
								<option>84kg</option>
								<option>85kg</option>
								<option>86kg</option>
								<option>87kg</option>
								<option>88kg</option>
								<option>89kg</option>
								<option>90kg</option>
								<option>91kg</option>
								<option>92kg</option>
								<option>93kg</option>
								<option>94kg</option>
								<option>95kg</option>
								<option>96kg</option>
								<option>97kg</option>
								<option>98kg</option>
								<option>99kg</option>
								<option>100kg</option>
								<option>>100kg</option>
							</select>
						</li>

						<li>
							<label class="fs-field-label fs-anim-upper" for="q10">Q10:请填写你的身高</label>
							<select class="fs-anim-lower" id="q10" name="q10" required>
								<option><155cm</option>
								<option>155cm</option>
								<option>156cm</option>
								<option>157cm</option>
								<option>158cm</option>
								<option>159cm</option>
								<option>160cm</option>
								<option>161cm</option>
								<option>162cm</option>
								<option>163cm</option>
								<option>164cm</option>
								<option>165cm</option>
								<option>166cm</option>
								<option>167cm</option>
								<option>168cm</option>
								<option>169cm</option>
								<option>170cm</option>
								<option>171cm</option>
								<option>172cm</option>
								<option>173cm</option>
								<option>174cm</option>
								<option>175cm</option>
								<option>176cm</option>
								<option>177cm</option>
								<option>178cm</option>
								<option>179cm</option>
								<option>180cm</option>
								<option>181cm</option>
								<option>182cm</option>
								<option>183cm</option>
								<option>184cm</option>
								<option>185cm</option>
								<option>186cm</option>
								<option>187cm</option>
								<option>188cm</option>
								<option>189cm</option>
								<option>190cm</option>
								<option>191cm</option>
								<option>192cm</option>
								<option>193cm</option>
								<option>194cm</option>
								<option>195cm</option>
								<option>196cm</option>
								<option>197cm</option>
								<option>198cm</option>
								<option>199cm</option>
								<option>200cm</option>
								<option>>200cm</option>
							</select>
						</li>

						<li>
							<label class="fs-field-label fs-anim-upper" for="q11">请填写手机号，以便接收您的运动健康现状评估结果。</label>
							<input class="fs-anim-lower" id="q11" name="q11" type="number" placeholder="输入11位数字"/>
						</li>
					</ol><!-- /fs-fields -->
					<button class="fs-submit" type="submit">提交问卷</button>
				</form><!-- /fs-form -->
			</div><!-- /fs-form-wrap -->

		</div><!-- /container -->
		<script src="js/classie.js"></script>
		<script src="js/selectFx.js"></script>
		<script src="js/fullscreenForm.js"></script>
		<script>
			(function() {
				var formWrap = document.getElementById( 'fs-form-wrap' );

				[].slice.call( document.querySelectorAll( 'select.cs-select' ) ).forEach( function(el) {	
					new SelectFx( el, {
						stickyPlaceholder: false,
						onChange: function(val){
							document.querySelector('span.cs-placeholder').style.backgroundColor = val;
						}
					});
				} );

				new FForm( formWrap, {
					onReview : function() {
						classie.add( document.body, 'overview' ); // for demo purposes only
					}
				} );
			})();
		</script>
	</body>
</html>