<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>调查问卷前言</title>
    <!-- css 文件 -->
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/foundation/5.5.3/css/foundation.min.css">

    <!-- jQuery 库 -->
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>

    <!-- JavaScript 文件 -->
    <script src="http://cdn.static.runoob.com/libs/foundation/5.5.3/js/foundation.min.js"></script>

    <!-- modernizr.js 文件 -->
    <script src="http://cdn.static.runoob.com/libs/foundation/5.5.3/js/vendor/modernizr.js"></script>
    <style type="text/css">
        h1{
            text-align: center;
        }
        fieldset {
            width:80%;
            border:2px solid #4169E1;
            margin:auto;
            /*padding: 10px;*/
        }

        legend {
            font-weight: bold;
            font-size: 125%;
        }

        span.yes  {
            font-weight: bold;
            text-align: center;
        }

        a{
            text-align: center;
        }
    </style>
</head>
<p>
<h1>调查问卷前言</h1>
</p>
<fieldset>
    <legend>您好</legend>
    <p style="line-height: 200%">
        <span>本调研由中国国家自然科学基金委委托施行，旨在评价中国公民健康运动水平，需要您填写一份短问卷（3分钟）。填写之后，您将收到您的健康运动水平的综合得分，以及在全国的综合排名供您参考。此外，我们将按1%的概率随机抽取参与者送出100元话费。</span><br>
        <span>本问卷是联合国教科文组织制定的评价个体健康运动水平的标准问卷。填写实行匿名制，填写内容将按照联合国教科文组织标准分析程序进行分析。调查结果仅作为本人健康水平告知及科研用途，不会对第三方扩散您的回答。请您按照自己的真实情况填写。谢谢参与！</span><br>
    <hr>
    <span>我已阅读<a href="/consents_shortpost_1">知情同意书</a>内容，并同意参与本次调研。</span><br>
    </p>
</fieldset>

</body>
</html>
