<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>个体健康运动水平问卷知情同意书</title>
    <!-- css 文件 -->
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/foundation/5.5.3/css/foundation.min.css">

    <!-- jQuery 库 -->
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>

    <!-- JavaScript 文件 -->
    <script src="http://cdn.static.runoob.com/libs/foundation/5.5.3/js/foundation.min.js"></script>

    <!-- modernizr.js 文件 -->
    <script src="http://cdn.static.runoob.com/libs/foundation/5.5.3/js/vendor/modernizr.js"></script>
    <style type="text/css">
        h1{
            text-align: center;
        }
        fieldset {
            width:80%;
            border:2px solid #4169E1;
            margin:auto;
            /*padding: 10px;*/
        }

        legend {
            font-weight: bold;
            font-size: 125%;
        }

        span.yes  {
            font-weight: bold;
            text-align: center;
        }

        a{
            text-align: center;
        }
    </style>
</head>
<body>
<h1>个体健康运动水平问卷知情同意书</h1>

<fieldset>
    <legend>您好</legend>
    <p>
        <span>在您选择同意前，请您务必审阅并透彻理解本同意书。如果您选择同意，即被视为您已阅读并同意本知情同意书全部内容。</span><br>
        <span>
            <ol>
            <li>
                我明白选择同意即确认本人同意参与本次调研。
            </li>
            <li>
                我明白我将填写一个问卷，我同意研究人员对我填写的数据进行匿名分析，并向我反馈分析结果。
            </li>
            <li>
                我知道：
                <ol style="list-style-type: lower-alpha">
                    <li>
                        参与问卷可能的影响（如收到分析反馈结果）；
                    </li>
                    <li>
                        我可以随时自由的退出问卷的填写，并撤回我所提供的任何未经处理的数据；
                    </li>
                    <li>
                        这个问卷的目的是为了研究；
                    </li>
                    <li>
                        我所提供信息的保密性将受到任何法律要求的保护；
                    </li>
                    <li>
                        本次调研是匿名的，我不会被要求提供我的姓名。
                    </li>
                </ol>
            </li>
            </ol>本次调查采用匿名形式，我们将严格报名你的信息，你可以放心作答。
        </span><br>
        <hr>
        <span class="yes"><a href="/1" style="text-align: center">如果您同意，请继续。</a></span><br>
    </p>
</fieldset>
</body>
</html>
