<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head>
	<meta charset="utf-8">
	<title>Health Service Cloud</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/png" href="favicon.ico">

	<!--Google Font link-->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Raleway:400,600,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">


	<link rel="stylesheet" href="assets/css/slick.css">
	<link rel="stylesheet" href="assets/css/slick-theme.css">
	<link rel="stylesheet" href="assets/css/animate.css">
	<link rel="stylesheet" href="assets/css/fonticons.css">
	<link rel="stylesheet" href="assets/css/font-awesome.min.css">
	<link rel="stylesheet" href="assets/css/bootstrap.css">
	<link rel="stylesheet" href="assets/css/magnific-popup.css">
	<link rel="stylesheet" href="assets/css/bootsnav.css">


	<!--For Plugins external css-->
	<!--<link rel="stylesheet" href="assets/css/plugins.css" />-->

	<!--Theme custom css -->
	<link rel="stylesheet" href="assets/css/style.css">
	<!--<link rel="stylesheet" href="assets/css/colors/maron.css">-->

	<!--Theme Responsive css-->
	<link rel="stylesheet" href="assets/css/responsive.css" />

	<script src="assets/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
</head>

<body data-spy="scroll" data-target=".navbar-collapse">


<!-- Preloader -->
<div id="loading">
	<div id="loading-center">
		<div id="loading-center-absolute">
			<div class="object" id="object_one"></div>
			<div class="object" id="object_two"></div>
			<div class="object" id="object_three"></div>
			<div class="object" id="object_four"></div>
		</div>
	</div>
</div><!--End off Preloader -->


<div class="culmn">
	<!--Home page style-->


	<nav class="navbar navbar-default navbar-fixed white no-background bootsnav">
		<!-- Start Top Search -->
		<div class="top-search">
			<div class="container">
				<div class="input-group">
					<span class="input-group-addon"><i class="fa fa-search"></i></span>
					<input type="text" class="form-control" placeholder="Search">
					<span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
				</div>
			</div>
		</div>
		<!-- End Top Search -->

		<div class="container">
			<!-- Start Atribute Navigation -->

			<!-- End Atribute Navigation -->

			<!-- Start Header Navigation -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
					<i class="fa fa-bars"></i>
				</button>
				<!--<a class="navbar-brand" href="#brand">-->

					<!--<img src="assets/images/logo.png" class="logo logo-display m-top-10" alt="">-->
					<!--<img src="assets/images/logo.jpg" class="logo logo-scrolled" alt="">-->

				<!--</a>-->
			</div>
			<!-- End Header Navigation -->

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="navbar-menu">
				<ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
					<li><a href="#hello">欢迎页</a></li>
					<li><a href="#about">关于我们</a></li>
					<li><a href="#service">登陆</a></li>
					<li><a href="/postone">调查问卷-1</a></li>
					<li><a href="/confirm">调查问卷-2</a></li>
					<!--&lt;!&ndash;<li><a href="#blog">Blog</a></li>                    &ndash;&gt;-->
					<!--<li><a href="#contact">Contact</a></li>  -->
				</ul>
			</div><!-- /.navbar-collapse -->
		</div>


		<!-- Start Side Menu -->
		<div class="side">
			<a href="#" class="close-side"><i class="fa fa-times"></i></a>
			<div class="widget">
				<h6 class="title">Custom Pages</h6>
				<ul class="link">
					<li><a href="#">About</a></li>
					<!--<li><a href="#">Services</a></li>-->
					<!--<li><a href="#">Blog</a></li>-->
					<!--<li><a href="#">Portfolio</a></li>-->
					<!--<li><a href="#">Contact</a></li>-->
				</ul>
			</div>
			<div class="widget">
				<h6 class="title">Additional Links</h6>
				<ul class="link">
					<li><a href="#">Retina Homepage</a></li>
					<li><a href="#">New Page Examples</a></li>
					<li><a href="#">Parallax Sections</a></li>
					<li><a href="#">Shortcode Central</a></li>
					<li><a href="#">Ultimate Font Collection</a></li>
				</ul>
			</div>
		</div>
		<!-- End Side Menu -->

	</nav>


	<!--Home Sections-->

	<section id="hello" class="home bg-mega">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="main_home">
					<div class="home_text">
						<h1 class="text-white">Health<br />Service Cloud</h1>
					</div>

					<div class="home_btns m-top-40">
						<!--<a href="#" target="_blank" class="btn btn-primary m-top-20">GET STARTED</a>-->
						<!--<a href="#" target="_blank" class="btn btn-default m-top-20">Learn More</a>-->
					</div>

				</div>
			</div><!--End off row-->
		</div><!--End off container -->
	</section> <!--End off Home Sections-->


	<!--About Sections-->
	<section id="about" class="about roomy-100">
		<div class="container">
			<div class="row">
				<div class="main_about">
					<div class="col-md-6">
						<div class="about_content">
							<h2>关于我们</h2>
							<div class="separator_left"></div>

							<p>健康云，关注您的运动健康！基于您真实填写的个人信息和调查问卷，为您提供专业的运动健康分析服务，给予您个性化的一对一的健康指导。</p>

							<div class="about_btns m-top-40">
								<a href="" class="btn btn-primary">了解更多</a>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="about_accordion wow fadeIn">
							<div id="faq_main_content" class="faq_main_content">
								<h6><i class="fa fa-angle-right"></i> 什么是健康云</h6>
								<div>
									<div class="content">
										<p>在大数据发展的背景下，结合宏观微观视角，基于运动行为改变理论、大数据分析技术、人工智能方法对全民运动健康行为进行综合分析与个性化指导提升的新型运动健康服务平台。</p>
									</div>
								</div> <!-- End off accordion item-1 -->

								<h6 class="open"><i class="fa fa-angle-right"></i> 关于背景</h6>
								<div class="open">
									<div class="content">
										<p> 1 运动水平与健康有着千丝万缕的联系。大量的流行病学研究已经证实，运动水平过低与心血管疾病、2型糖尿病和其他一些重要疾病的发生密切相关。在大规模数据研究领域，相关研究人员通过分析某一健康类APP的用户步数评估国家的运动水平，并发现群体运动水平差距大的国家整体肥胖率较高。 </p><br>
										<p> 2 传统研究主要针对区域抽样的小样本的分析，尚不能满足实现全民运动健康行为综合分析目标的要求，主要问题在于缺少个体运动行为分析方法，及适用于大规模群体的运动水平评估方法。</p>
									</div>
								</div> <!-- End off accordion item-2 -->

								<h6> <i class="fa fa-angle-right"></i>关于问卷</h6>
								<div>
									<div class="content">
										<p>健康云所采用的运动健康问卷，参考了大量学术界在运动健康领域研究过程中使用的问卷调查，并引入了最权威的世界卫生组织GPAQ中的相关问题，能准确的反应您目前一周的运动健康状况。</p><br>
										<p>1 请您认真如实填写调查问卷，以便为您分析的结果的真实有效。</p><br>
										<p>2 请您在问卷中留下自己的真实手机号，我们将以短信的形式及时的将您的运动健康评估与专业的建议指导反馈给您。</p>

									</div>
								</div> <!-- End off accordion item-3 -->

								<h6><i class="fa fa-angle-right"></i> 关于运动健康的指标</h6>
								<div>
									<div class="content">
										<p>1 身体运动水平（physical activity level）简称PAL<br>定义：指人体24小时总能量消耗（Total Energy Expenditure, TEE）与人体24小时基础能量消耗（Basal Energy Expenditure, BEE）的比值。</p><br>
									    <p>2 METS代谢当量<br>定义：是一个人的工作代谢率相对于静息代谢率的比率。一个MET被定义为静坐的能量成本，相当于一个1千卡/千克/小时的热量消耗。对于GPAQ数据分析，现有的指南已通过：据估计，比较安静地坐着，一个人的热量消耗在中度活跃的时候是四倍，在剧烈活跃的时候是八倍。</p>
									</div>
								</div> <!-- End off accordion item-4 -->

								<h6><i class="fa fa-angle-right"></i> 关于未来</h6>
								<div>
									<div class="content">
										<p>在大数据发展的背景下，健康云将结合宏观微观视角，基于运动行为改变理论、大数据分析技术、人工智能方法对全民运动健康行为进行综合分析与个性化指导提升.</p><br>
										<p>针对传统研究的不足，健康云将结合前人的研究，使用并融合多源数据，综合分析用户的运动行为，从宏微观两个层面洞察社会群体的运动水平。</p><br>
										<p>健康云的专属APP即将上线，在不远的未来，您的运动健康状况将由健康云与您一起关注！</p><br>
									</div>
								</div> <!-- End off accordion item-5 -->
							</div>
						</div>
					</div>
				</div>
			</div><!--End off row-->
		</div><!--End off container -->
		<br />
		<br />
		<br />
		<br />
		<hr />
		<br />
		<br />
		<div class="container">
			<div class="row">
				<div class="about_bottom_content">
					<div class="col-md-4">
						<div class="about_bottom_item m-top-20">
							<div class="ab_head">
								<div class="ab_head_icon">
									<i class="icofont icofont-fire-burn"></i>
								</div>
								<h6 class="m-top-20"> 运动健康评估</h6>
							</div>
							<p class="m-top-20">基于您真实填写问卷，为您提供专业的运动健康现状评估。 </p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="about_bottom_item m-top-20">
							<div class="ab_head">
								<div class="ab_head_icon">
									<i class="icofont icofont-speech-comments"></i>
								</div>
								<h6 class="m-top-20">运动健康档案</h6>
							</div>
							<p class="m-top-20">包含您填写的个人信息，历史的运动健康评估，为您生成您的专属运动健康档案。 </p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="about_bottom_item m-top-20">
							<div class="ab_head">
								<div class="ab_head_icon">
									<i class="icofont icofont-heart"></i>
								</div>
								<h6 class="m-top-20">运动健康指导</h6>
							</div>
							<p class="m-top-20">我们将以短信的形式，为您提供权威的运动评估报告，并为您针对性的提供专业的指导。 </p>
						</div>
					</div>
				</div>
			</div><!--End off row-->
		</div><!--End off container -->
	</section> <!--End off About section -->









	<!--&lt;!&ndash;Maps Section&ndash;&gt;-->
	<!--<div class="main_maps text-center fix">-->
	<!--<div class="overlay"></div>-->
	<!--<div class="maps_text">-->
	<!--<h3 class="text-white" onClick="showmap()">FIND US ON THE MAP <i class="fa fa-angle-down"></i></h3>-->
	<!--<div id="map_canvas" class="mapheight"></div>-->
	<!--</div>-->
	<!--</div>&lt;!&ndash; End off Maps Section&ndash;&gt;-->



	<!--&lt;!&ndash;Contact Us Section&ndash;&gt;-->
	<!--<section id="contact" class="contact bg-mega fix">-->
	<!--<div class="container">-->
	<!--<div class="row">-->
	<!--<div class="main_contact roomy-100 text-white">-->
	<!--<div class="col-md-4">-->
	<!--<div class="rage_widget">-->
	<!--<div class="widget_head">-->
	<!--<h3 class="text-white">XJTU</h3>-->
	<!--<div class="separator_small"></div>-->
	<!--</div>-->
	<!--<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit,-->
	<!--sed diam nonummy nibh euismod tincidunt ut laoreet dolore-->
	<!--magna aliquam erat volutpat. Ut wisi enim ad minim veniam,-->
	<!--quis nostrud exerci tation ullamcorper suscipit lobortis nisl-->
	<!--ut aliquip ex ea commodo consequat. </p>-->

	<!--<div class="widget_socail m-top-30">-->
	<!--&lt;!&ndash;<ul class="list-inline">&ndash;&gt;-->
	<!--&lt;!&ndash;<li><a href=""><i class="fa fa-facebook"></i></a></li>&ndash;&gt;-->
	<!--&lt;!&ndash;<li><a href=""><i class="fa fa-twitter"></i></a></li>&ndash;&gt;-->
	<!--&lt;!&ndash;<li><a href=""><i class="fa fa-linkedin"></i></a></li>&ndash;&gt;-->
	<!--&lt;!&ndash;<li><a href=""><i class="fa fa-vimeo"></i></a></li>&ndash;&gt;-->
	<!--&lt;!&ndash;<li><a href=""><i class="fa fa-instagram"></i></a></li>&ndash;&gt;-->
	<!--&lt;!&ndash;</ul>&ndash;&gt;-->
	<!--</div>-->
	<!--</div>-->
	<!--</div>-->
	<!--<div class="col-md-8 sm-m-top-30">-->
	<!--<form class="" action="subcribe.php">-->
	<!--<div class="row">-->
	<!--<div class="col-sm-6">-->
	<!--<div class="form-group">-->
	<!--<input id="first_name" name="first_name" type="text" placeholder="Name" class="form-control" required="">-->
	<!--</div>-->
	<!--</div>-->

	<!--<div class="col-sm-6">-->
	<!--<div class="form-group">-->
	<!--<input id="phone" name="phone" type="text" placeholder="Phone" class="form-control">-->
	<!--</div>-->
	<!--</div>-->

	<!--<div class="col-sm-12">-->
	<!--<div class="form-group">-->
	<!--<textarea class="form-control" rows="6" placeholder="Message"></textarea>-->
	<!--</div>-->
	<!--<div class="form-group text-center">-->
	<!--<a href="" class="btn btn-primary">SEND MESSAGE</a>-->
	<!--</div>-->
	<!--</div>-->

	<!--</div>-->

	<!--</form>-->
	<!--</div>-->
	<!--</div>-->
	<!--</div>&lt;!&ndash;End off row &ndash;&gt;-->
	<!--</div>&lt;!&ndash;End off container &ndash;&gt;-->
	<!--</section>&lt;!&ndash;End off Contact Section&ndash;&gt;-->


	<!-- scroll up-->
	<div class="scrollup">
		<a href="#"><i class="fa fa-chevron-up"></i></a>
	</div><!-- End off scroll up -->


	<footer id="footer" class="footer bg-black">
		<div class="container">
			<div class="row">
				<div class="main_footer text-center p-top-40 p-bottom-30">
					<p class="wow fadeInRight" data-wow-duration="1s">Copyright &copy; 2017.health_service_cloud All rights reserved.浙ICP备17055160号<a target="_blank" href="http://sc.chinaz.com/moban/"></a></p>
				</div>
			</div>
		</div>
	</footer>




</div>

<!-- JS includes -->

<script src="assets/js/vendor/jquery-1.11.2.min.js"></script>
<script src="assets/js/vendor/bootstrap.min.js"></script>

<script src="assets/js/jquery.magnific-popup.js"></script>
<script src="assets/js/jquery.easing.1.3.js"></script>
<script src="assets/js/slick.min.js"></script>
<script src="assets/js/jquery.collapse.js"></script>
<script src="assets/js/bootsnav.js"></script>

<!-- paradise slider js -->
<script src="assets/js/plugins.js"></script>
<script src="assets/js/main.js"></script>
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1270030087'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s19.cnzz.com/z_stat.php%3Fid%3D1270030087%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>

</body>
</html>